In [10]:
dias = ("s", "t", "q", "q", "s", "s", "d")
type(dias)

tuple

In [11]:
valores = ("a", "b", "c", "d", "e")
len(valores)
#min(valores)
#max(valores)

5

In [22]:
ponto = (3, 5)
p1 = (3, 5)
p2 = (4, 3)
p3 = (5, 3)
linha = [p1, p2, p3]
p1 = ("flavio", 43)
p2 = ("ricardo", 42)
instrutores = [p1, p2]
instrutores[0]
instrutores[1][1]

42

In [31]:
nomes = ("Nico", "Douglas", "Flavio", "Daniel")
nomes = list(nomes)
nomes.append("Fabio")
nomes

['Nico', 'Douglas', 'Flavio', 'Daniel', 'Fabio']

In [33]:
total = 0
palvra = "polly"
acabou = 0

while not acabou:
    acabou = (total == len(palvra))
    total += 1
print(total - 1)

6

In [41]:
frutas = ["maca", "banana", "laranja", "melancia"]
lista = [fruta.upper() for fruta in frutas]
frutas
lista

['MACA', 'BANANA', 'LARANJA', 'MELANCIA']

In [45]:
inteiros = [1, 2, 3, 4, 5, 6, 7, 8]
#qdrdos = [n*n for n in inteiros]
#qdrdos
for n in inteiros:
    n *= n

In [55]:
inteiros = [1,3,4,5,7,8,9]
pares = [numero for numero in inteiros if numero % 2 == 0]
pares

[4, 8]

In [54]:
inteiros = [1, 3, 4, 5, 7, 8, 9]
pares = []
for numero in inteiros:
    if numero % 2 == 0:
        pares.append(numero)
pares

[4, 8]

In [18]:
arquivo = open("palavras.txt", "w")
arquivo
arquivo.write("banana\n")
arquivo.write("melancia\n")
arquivo.close()

arquivo = open("palavras.txt", "a")
arquivo.write("morango\n")

arquivo.write("maça\n")
arquivo.close()

arquivo = open("palavras.txt", "r")
linha = arquivo.readline()

linha
for linha in arquivo:
    print(linha, end="\n")
linha
linha.strip()

melancia

morango

maça

'maça'

In [3]:
""" imagem = open("foto.jpg", "rb")

#arquivo copia.py
logo = open('python-logo.png', 'rb')
data = logo.read()
logo.close()

logo2 = open('python-logo2.png', 'wb')
logo2.write(data)
logo2.close() """

' imagem = open("foto.jpg", "rb")\n\n#arquivo copia.py\nlogo = open(\'python-logo.png\', \'rb\')\ndata = logo.read()\nlogo.close()\n\nlogo2 = open(\'python-logo2.png\', \'wb\')\nlogo2.write(data)\nlogo2.close() '

In [ ]:
##collections:

In [3]:
""" idade1 = 39
idade2= 30
idade3 = 27

print(idade1, idade2, idade3) """
#pra n fazer isso

idade = [32, 43, 83, 23]
type(idade)
idade[0]
idade[::-1]
idade.append(32)

for i in idade:
    if i == 32:
        idade.remove(32)
idade

# add o 43 na primeira posicao
if 43 in idade:
    idade.insert(0, 43)
idade

[43, 43, 83, 23]

In [14]:

idade = [32, 43, 83, 23]
listas = [45, 32, 87, 98, 43]

idade.extend(listas)# extendi a idade com lista
idade
for i in idade:
    if i % 2 == 0:
        idade.remove(i)
idade

[43, 83, 23, 45, 87, 43]

In [25]:
idades_ano_qvem = []
for k in idade:
    idades_ano_qvem.append(k+1)
idades_ano_qvem

[44, 84, 24, 46, 88, 44]

In [42]:

#o k soma 3 na idade
idades = [(k+3) for k in idade]

# minha maneira de retirar itens da lista
# nao ta funcionando direito
#for j in idades:
#    if j < 59:
#        idades.remove(j)
#idades
#profe:
[(idade) for idade in idades if idade > 48]

[86, 90]

In [72]:
idades = [32, 42, 52, 62]
def proximo_ano(idades):
    return idades+1
#[proximo_ano(idade) for idade in idades if idade > 51]

#for idade in idades:
#    if idade > 21:
#        proximo_ano(idade)

63